NAME="Spring Football Clean - REST (k6)"
FILENAME="usage_scenario-k6-rest.yml"

REPO_URL="https://gitlab.com/envite-consulting/sustainable-software-architecture/isaqb-green/spring-clean-football-service"
BRANCH="main"

SCHEDULE_MODE='one-off' # possible values: 'one-off', 'daily', 'weekly', 'commit', 'commit-variance', 'tag', 'tag-variance', 'variance'

API_URL_INTERNAL="http://api.green-coding.internal:9142"
API_URL_PUBLIC="https://api.green-coding.io"

# Optional variables start here
EMAIL=
API_TOKEN=
